<ul class="skill">
  <li class="title-list">SKILL</li>
  <div class="wrapper-skill">
    <li><%= skills[0].nameSkill %> <%= skills[0].percentSkill %></li>
    <div class="one-skill">
      <li class="full-crossbar full-percent">
        <span></span>
      </li>
    </div>
  </div>
  <div class="wrapper-skill">
    <li><%= skills[1].nameSkill %> <%= skills[1].percentSkill %></li>
    <div class="two-skill">
      <li class="full-crossbar full-percent">
        <span></span>
      </li>
    </div>
  </div>
  <div class="wrapper-skill">
    <li><%= skills[2].nameSkill %> <%= skills[2].percentSkill %></li>
    <div class="three-skill">
      <li class="full-crossbar full-percent">
        <span></span>
      </li>
    </div>
  </div>
</ul>
